*{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 10px;
    max-width: 300px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 6px 8px 21px 1px #9b7373;
    border-radius: 10px;
}
ul li{
    text-align: center;
    background-color: #ddd;
    color: #000;
    margin-bottom: 2px;
    padding: 4px;
    padding-left: 20px;
    border-radius: 10px;
    font-weight: 600;
   
}
ol li{
    background-color: tomato;
    color: #ddd;
    margin-bottom: 2px;
    padding: 4px;
    padding-left: 20px;
   
}